{% extends 'accounts/main.html' %}

{% block content %}
    <div class="max-w-screen-lg grid grid-cols-12 gap-4 mx-auto mt-6">
        <nav class="bg-white drop-shadow-md h-52 col-span-3">
            <ul class="px-6 pb-20 py-10">
                <li>
                    <a href="" class="{% if foo %}border-indigo-500 bg-gray-200 border-l-4{% endif %} pl-3 flex items-center py-4 px-10 h-9 text-sm">New Category</a>
                </li>
                <li>
                    <a href="" class="border-l-4 border-transparent pl-3 flex items-center py-4 px-10 h-10 text-sm">New Code</a>
                </li>
                <li>
                    <a href="" class="border-l-4 border-transparent pl-3 flex items-center py-4 px-10 h-10 text-sm">Lists</a>
                </li>
            </ul>
        </nav>
        <div class="w-full py-8 bg-white drop-shadow-md px-6 col-span-9">
            <div class="relative">
                <div class="flex justify-end absolute -top-4 right-2 tooltip">
                    <button onclick="myFunction()" onmouseout="handleMouseOutClipboard()"><i class="fa-solid fa-copy text-indigo-500 text-2xl"></i></button>
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                    </button>
                </div>
                <div class="bg-gray-50">
                    <div class="px-6">
                    <pre>
                        <code id="test">
#include &lt;iostream&gt;
using namespace std;

int main() {
  cout &lt;&lt; "Hello World!";
  return 0;
}
                        </code>
                    </pre>
                    </div>
                </div>
            </div>
            <div id="new-code-form">
                <div class="mb-3 xl:w-full">
                    <label for="title" class="form-label inline-block mb-2 text-gray-700">Title</label>
                    <input type="email" name="texts[]" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out
                    m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                           id="title"
                           placeholder="Enter Title"
                    />
                </div>
                <!--
                <div class="mb-3 xl:w-full">
                    <label class="form-label inline-block mb-2 text-gray-700">Code</label>
                    <textarea type="email" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out
                    m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                              id="title"
                              placeholder="Enter Your Code"
                    ></textarea>
                </div>
                -->
            </div>
            <div class="flex space-x-2 justify-end mt-12">
                <button type="button" onclick="newCodeElement()" class="inline-block px-6 py-2.5 bg-indigo-500 text-white font-medium text-xs rounded hover:bg-indigo-400 focus:bg-indigo-500 active:bg-indigo-400">
                    New Code
                </button>
                <button type="button" onclick="newTextElement()" class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs rounded hover:bg-green-400 focus:bg-green-500 active:bg-green-400">
                    New Text
                </button>
                <button type="button" class="inline-block px-6 py-2.5 bg-indigo-500 text-white font-medium text-xs rounded hover:bg-indigo-400 focus:bg-indigo-500 active:bg-indigo-400">
                    Save
                </button>
            </div>
        </div>
    </div>
    <script>
        let textId = 0
        let codeId = 0
        function removeTextElement(textId) {
            let textInput = document.getElementById(textId)
            textInput.remove()
        }

        function removeCodeElement(codeId) {
            let codeInput = document.getElementById(codeId)
            codeInput.remove()
        }

        function newTextElement() {
            let newForm = document.getElementById('new-code-form')
            let newDiv = document.createElement("div");
            newDiv.setAttribute('id', textId)
            newDiv.innerHTML = '<div class="xl:w-full"><label class="form-label inline-block mb-2 text-gray-700">Text</label><textarea type="text" name="texts[]" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Enter Your Text"></textarea><div class="flex justify-end"><button class="text-sm text-rose-500" onclick="removeTextElement('+textId+')">Remove</button></div></div>';
            newForm.appendChild(newDiv)
            textId++
        }

        function newCodeElement() {
            let newForm = document.getElementById('new-code-form')
            let newDiv = document.createElement("div");
            newDiv.setAttribute('id', codeId)
            newDiv.innerHTML = '<div class="xl:w-full"><label class="form-label inline-block mb-2 text-gray-700">Code</label><textarea type="text" name="texts[]" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Enter Your Code"></textarea><div class="flex justify-end"><button class="text-sm text-rose-500" onclick="removeCodeElement('+codeId+')">Remove</button></div></div>';
            newForm.appendChild(newDiv)
            codeId++
        }
        function myFunction() {
            let copyText = document.getElementById("test");

            let tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copied";

            navigator.clipboard.writeText(copyText.innerHTML);

        }
        function handleMouseOutClipboard(){
            let tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy to clipboard";
        }

    </script>
{% endblock %}
