{% extends 'base.html' %}

{% block content %}
    <div class="mb-3 text-2xl border-indigo-500 border-l-4">
        <span class="ml-3">New Code <></span>
    </div>
    <form method="POST" class="mt-4" onsubmit="disableButton()">
        {% csrf_token %}
        <div id="new-code-form">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="bg-red-100 rounded py-2 px-4 mt-2 text-sm text-red-700">
                            {{ message }}
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="bg-green-100 rounded py-2 px-4 mt-2 text-sm text-green-700">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="my-3">
                <p class="text-sm mt-2">Enter Title:</p>
                {{ form.title }}
                <p class="text-sm mt-2">Select Category:</p>
                {{ form.category }}
                <p class="text-sm text-gray-500 mt-2">(Optional)</p>
                {{ form.body }}
                {{ form.media }}
            </div>
            <!-- For Editing -->
            <!--
            <div class="mt-10">
                <input type="text" name="infos[]" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700
                        bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       placeholder="Info"
                />
                <textarea type="text" name="codes[]" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700
                        bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none mt-3"
                          placeholder="Enter Your Code"
                          rows="8"
                ></textarea>
                <div class="flex justify-end">
                    <button class="text-sm text-rose-500">Remove</button>
                </div>
            </div>
            -->
        </div>
        <div class="flex space-x-2 justify-end mt-12">
            <button type="button" onclick="newCodeElement()"
                    class="inline-block px-6 py-2 bg-green-500 text-white font-medium text-xs rounded hover:bg-green-400 focus:bg-green-500 active:bg-green-400">
                New Code
            </button>
            <button type="submit" id="submit-btn"
                    class="inline-block px-6 py-2 bg-indigo-500 text-white font-medium text-xs rounded hover:bg-indigo-400 focus:bg-indigo-500 active:bg-indigo-400">
                Save
            </button>
        </div>
    </form>
    <script>
        let codeId = 0

        function removeCodeElement(codeId) {
            let codeInput = document.getElementById(codeId)
            codeInput.remove()
        }

        function newCodeElement() {
            let newForm = document.getElementById('new-code-form')
            let newDiv = document.createElement("div");
            newDiv.setAttribute('id', codeId)
            newDiv.setAttribute('class', 'mt-10')
            newDiv.innerHTML= '<div class="mt-10"><div class="text-sm mt-2 flex justify-between"><span>Code:</span><button onclick="removeCodeElement('+codeId+')"><i class="text-sm text-rose-500 fa-solid fa-circle-minus text-lg"></i></button></div><input type="text" name="infos[]" class="w-full text-sm px-3 py-1 border border-solid rounded focus:border-blue-600 focus:outline-none" autocomplete="off" placeholder="Info(optional)"/><textarea required type="text" name="codes[]" autocomplete="off" class="w-full text-sm px-3 py-1 border border-solid rounded focus:bg-white focus:border-blue-600 focus:outline-none mt-3" placeholder="Enter Your Code" rows="8"></textarea></div>'
            newForm.appendChild(newDiv)
            codeId++
        }

        function disableButton() {
            let btn = document.getElementById('submit-btn');
            //btn.disabled = true;
            btn.innerText = 'Saving..'
        }
    </script>
{% endblock %}
